<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的照片</title>
    <link rel="stylesheet" href="https://g.517cdn.com/plugjavascriptjq/tamlliconfont/iconfont.css?v=20191015-a">
    <link rel="stylesheet" href="../../common/css/common.css">
    <link rel="stylesheet" href="./mine.css">
</head>
<body>
<div id="container">
    <div class="headers">
        <div class="operate">
            <span class="operate_cell sort">
                <i class="iconfont active icon-sort"></i>
            </span>
            <span class="operate_cell display">
                <i class="iconfont icon-cascades"></i>
            </span>
            <span class="operate_cell">
                <a href="../settings/settings.html" target="_blank">
                    <i class="iconfont icon-settings"></i>
                </a>
            </span>
        </div>
    </div>
    <div class="content_bg">
        <div class="list date_list">

        </div>
        <div class="list general_list">
            <div class="general_box">

            </div>
        </div>
        <div class="empty_data">
            <img src="../../common/img/sad.png" alt="">
            <p>暂无数据</p>
        </div>
    </div>

</div>
<div class="underline">
    我也是有底线的!
</div>
<div class="tips">
    <div class="tips_msg">
        这是提示的消息呀
    </div>
</div>
<!--[if lt IE 9]>

<script src="../../common/js/html5shiv.js"></script>

<![endif]-->
<script src="../../common/js/jquery-1.11.0.min.js"></script>
<script src="../../common/js/jquery.lazyload.js"></script>
<script src="https://m.517.cn/Scripts/lib/vconsole.js"></script>
<script src="https://g.517cdn.com/Jquery.Plugin/misapp/mgnative-1.0.0.js?id=12"></script>
<script src="../../common/js/common.js"></script>
<script src="./mine.js"></script>
</body>
</html>